
body{
	background-image: url("../images/background.jpg")
}
.header {
	background-color: gray;
	opacity: .7;
	font-size: 100px;
	font-weight: bold;
	border: solid 10px black;
	text-align: center;
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 50%;
	word-wrap: break-word;
}

.instructions {
	background-color: gray;
	font-size: 20px;
	border: solid 10px black;
	text-align: left;
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 50%;
}

.numberToMatch {
	float: left;
	font-size: 30px;
	font-weight: bold;
	width: 30%;
	height: 75px;
	padding: 20px;
	background-color: gray;
	border: solid 10px black;
	text-align: left;
}

.winsAndLosses {
	float: right;
	font-size: 30px;
	font-weight: bold;
	width: 30%;
	height: 75px;
	padding: 20px;
	background-color: gray;
	border: solid 10px black;
	text-align: left;
}

.userTotal {
	color: rgb(0, 84, 87);

}
.gemImage {
	height: 50px;
	width: 50px;
}